body {
    background-color: #edf2f4;
    color: black;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
}

h1{
    font-family: nasalization, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5;
}

p{
    font-size: 1em;
    padding: 30px;
    margin: 30px;
}

.button {
    transition-duration: 0.4s;
    text-decoration: none;
    background-color: #72b01d;
    color: #edf2f4; 
    margin: auto;
    
}
  
.button:hover {
    background-color: #72b01d;
    text-decoration: underline; 
    color: white;
}

img{
    width: 504px;
    height: 672;
    float: right;
    padding: 30px;
}

.links{
    color: #ff9907;
    text-decoration: none;
    text-align: center;
}

.links:hover{
    color: #ff9907;
    text-decoration: underline;
}

.links:visited{
    color: #ff5700;
    text-decoration: none;
}

hr {
    display: block;
    margin-top: 0.125em;
    margin-bottom: 0.125em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border: 2px solid #72b01d;
}