body {
    background-image: url('/img/robin-glauser-zP7X_B86xOg-unsplash.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    color: black;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: auto;
}

main {
    background-color: #FF9907;
    border-style: double;
    border-color: #ff5700;
    color: #edf2f4;
    margin: 0 auto;
    padding: 20px 20px;
    max-width: 980px;

}

.slides { width: 100%; }
.slides-hidden { display : none; }

section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    font-family: nasalization, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5;
    background-color:#FF9907;
    margin: auto;
    text-align: center;
    border-style: double;
    border-color: #ff5700;
    color: #edf2f4;
    margin: 0 auto;
    padding: 20px 20px;
    max-width: 980px;

}

h3 { 
    font-family: nasalization, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25;
    color: #3F7D20;
    text-align: center;
}

h4 {
    font-family: nasalization, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1;
    color:  #ff5700;
}


nav {
    background-color: #72b01d;
    padding: .5em;
    position: sticky;
    top: 0;   

}

nav a {
    color: #edf2f4;
    text-decoration: none;
    padding: .5em 1em;
}

@media screen and (max-width: 600px) {
    nav a {
      float: none;
      width: 100%;
    }
    .aboutflex{
        width: 100%;
    }
}

.gameDes{
    margin-top: 700px;
}

.flex { 

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

}



.aboutflex {
    background-color: #FF9907;
    border-style: double;
    border-color: #ff5700;
    color: #edf2f4;
    padding: 20px 20px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}


.aboutflex1 {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutflex2{
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    justify-content: space-evenly;
}

p{
    font-size: 1em;
    margin-left: 75px;
    margin-right: 75px;
}

.workgrid {
    grid-area: auto;
    margin: 0 auto;
    padding: 20px 20px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
}


.othermain {
    background-color: #FF9907;
    border-style: double;
    border-color: #ff5700;
    color: #edf2f4;
    margin: 0 auto;
    padding: 20px 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    place-items: center;
}

.button {
    transition-duration: 0.4s;
    text-decoration: none;
    background-color: #72b01d;
    color: #edf2f4; 
    margin: auto;
    
}
  
.button:hover {
    background-color: #72b01d;
    text-decoration: underline; 
    color: white;
}

.photos {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: auto;
}

.links{
    color: #ff9907;
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
}

.links:hover {
    color: #ff9907;
    text-decoration: underline;
}

.links:visited {
    color: #ff5700;
    text-decoration: none;
}

hr {
    display: block;
    margin-top: 0.125em;
    margin-bottom: 0.125em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border: 2px solid #72b01d;
}

.feature {
    width: 300px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#images {
    text-align:center;
}

.indeximgs1 {
    width: 425px;
}

.indeximgs2 {
    width: 300px;
}

@media screen and (max-width: 400px) {
    main, nav ul {
        flex-direction: column;
    }

  }