body {
    background-color: #edf2f4;
    color: black;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    }
    
    
h1{
    font-family: nasalization, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5;
}



p{
    font-size: 1em;
}

.button {
    transition-duration: 0.4s;
    background-color: #72b01d;
    color: #edf2f4; 
}
  
.button:hover {
    background-color: #72b01d;
    color: white;
  }